.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 15rem;

  margin: 2rem 0;

  background-image: url(../../assets/images/pink-bg.jpg);
  background-position: center;
  background-size: cover;

  &__title {
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
  }
}
